build
uml.graffle

Fraction.h

Fraction.m

VTabTypesetter.h

VTabTypesetter.m

tablution.xcodeproj/project.xcworkspace/xcuserdata/valrus.xcuserdatad/UserInterfaceState.xcuserstate

tablution.xcodeproj/xcuserdata/valrus.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
