<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>l</key>
	<array>
		<string>focusUpString</string>
	</array>
	<key>k</key>
	<array>
		<string>focusDownString</string>
	</array>
	<key>;</key>
	<array>
		<string>focusNextChord</string>
	</array>
	<key>j</key>
	<array>
		<string>focusPrevChord</string>
	</array>
	<key>1</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>2</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>3</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>2</integer>
		<integer>0</integer>
	</array>
	<key>4</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>3</integer>
		<integer>0</integer>
	</array>
	<key>5</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>4</integer>
		<integer>0</integer>
	</array>
	<key>6</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>5</integer>
		<integer>0</integer>
	</array>
	<key>q</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>w</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>e</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<key>r</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>3</integer>
		<integer>1</integer>
	</array>
	<key>t</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>4</integer>
		<integer>1</integer>
	</array>
	<key>y</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>5</integer>
		<integer>1</integer>
	</array>
	<key>a</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>0</integer>
		<integer>2</integer>
	</array>
	<key>s</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>d</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>2</integer>
		<integer>2</integer>
	</array>
	<key>f</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>3</integer>
		<integer>2</integer>
	</array>
	<key>g</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>4</integer>
		<integer>2</integer>
	</array>
	<key>h</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>5</integer>
		<integer>2</integer>
	</array>
	<key>z</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>0</integer>
		<integer>3</integer>
	</array>
	<key>x</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>1</integer>
		<integer>3</integer>
	</array>
	<key>c</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>2</integer>
		<integer>3</integer>
	</array>
	<key>v</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>3</integer>
		<integer>3</integer>
	</array>
	<key>b</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>4</integer>
		<integer>3</integer>
	</array>
	<key>n</key>
	<array>
		<string>addNoteOnString:onFret:</string>
		<integer>5</integer>
		<integer>3</integer>
	</array>
	<key>[</key>
	<array>
		<string>decrementBaseFret</string>
	</array>
	<key>]</key>
	<array>
		<string>incrementBaseFret</string>
	</array>
	<key> </key>
	<array>
		<string>advance</string>
	</array>
	<key>!</key>
	<array>
		<string>addOpenString:</string>
		<integer>0</integer>
	</array>
	<key>@</key>
	<array>
		<string>addOpenString:</string>
		<integer>1</integer>
	</array>
	<key>#</key>
	<array>
		<string>addOpenString:</string>
		<integer>2</integer>
	</array>
	<key>$</key>
	<array>
		<string>addOpenString:</string>
		<integer>3</integer>
	</array>
	<key>`</key>
	<array>
		<string>toggleSoloMode</string>
	</array>
	<key>%</key>
	<array>
		<string>addOpenString:</string>
		<integer>4</integer>
	</array>
	<key>^</key>
	<array>
		<string>addOpenString:</string>
		<integer>5</integer>
	</array>
	<key>|</key>
	<array>
		<string>toggleMeasureBar</string>
	</array>
	<key>-</key>
	<array>
		<string>deleteFocusNote</string>
	</array>
</dict>
</plist>
